@use '../base/' as *;
@use '../utils' as *;
@use '../layout/container' as *;

.header {
  position: relative;
  text-align: center;
  font-weight: 800;
  margin-top: rem(50px);
  margin-bottom: rem(30px);

  h1 {
    padding: rem(10px);
  }
  i {
    font-size: rem(30px);
  }
  .posting-btn {
    font-size: rem(15px);
    text-decoration: none;
    border: 1px solid lightblue;
    border-radius: rem(5px);
    background-color: rgb(15, 73, 92);
    color: white;
    padding: rem(10px);
  }

  .align-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .login-user-id {
    font-size: rem(15px);
  }
}

.select-country {
  padding-left: rem(15px);
  width: rem(250px);
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  font-size: rem(25px);
  z-index: 10;
  cursor: pointer;
}

// icon control
.icon-control {
  position: relative;

  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.fa-chevron-down {
  position: absolute;
  right: rem(10px);
}

// items
.cards-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-image: url('../../img/main_bg.jpg');
}

.no-display {
  display: none;
}

// item
.card {
  display: flex;
  flex-direction: column;
  flex: 0 0 28%;

  margin: 0 0 rem(90px) rem(40px);

  position: relative;
  font-weight: 700;
  font-size: rem(20px);

  img {
    width: 100%;
    height: rem(230px);
    border-radius: rem(10px);
    cursor: pointer;
  }
  img:hover {
    border: 4px solid lightblue;
  }

  &__user-id {
    margin: 0 0 rem(8px) rem(6px);
  }

  &__info {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 0 rem(10px) 0 rem(4px);
    // font-weight: 700;
  }

  &__like-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    background-color: transparent;
    font-size: rem(25px);
    color: hotpink;
    cursor: pointer;
  }
}
