@use '../utils' as *;

.container {
  width: 60%;
  margin: 0 auto;
  position: relative;
}

.current-user-id {
  position: absolute;
  top: rem(10px);
  right: 0;
  font-size: rem(20px);
  font-weight: normal;
}
